body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000000;
}

h1 {
	color:grey;
	font-family:verdana;
	text-align: center;
}

.maindiv {
	position: relative;
	width: 300px;
	padding: 20px;
	background-color: white ;
	border-radius: 25px;
	color: black;
	align-self: center;
}